<div class="displayBox">
    <h3>Equipment</h3>
    <ol>
        <li *ngFor="let item of equipmentItems">
            <button [class.active]="cargoHold.length < maxItems && cargoMass + item.mass <= maximumAllowedMass" (click)="addItem(item)" [disabled]="cargoHold.length === maxItems || cargoMass + item.mass > maximumAllowedMass">Add to Cargo Hold</button>
            <!-- "Add to Cargo Hold" button goes here. -->
            {{item.name}}, {{item.mass}} kg
        </li>
    </ol>
</div>

<hr>

<div class = "displayBox">
    <h3>Cargo Hold: {{cargoHold.length}}/{{maxItems}} Spots Filled</h3>
    <ol>
        <li *ngFor="let equipment of cargoHold">{{equipment.name}}</li>
    </ol>
    <p>Mass in Hold: {{cargoMass}} kg</p>
    <p [class.nearMaxMass]="atCapacity">Mass Budget Remaining: {{maximumAllowedMass - cargoMass}} kg</p>
    <button (click)="empty()">Empty Hold</button>
</div>

